*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: inherit;
}

li{
    list-style: none;
}

/* header */
.container{
    max-width: 1450px;
}

.logo{
    width: 10%;
    height: 4%;
    display: flex;
    justify-content: left;
    }

.khung{
    height: 32px;
}

header{
    background-color: #FFFFFF;
    text-align: center;
    padding: 0 30px 10px 25px;
    border-bottom:outset 2px rgba(0, 0, 0, 0.1);
}

header ul{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    font-size: 16px;
    list-style: none;
} 

header ul li :nth-child(2) {
    position: relative;
}
header ul li:nth-child(2) input {
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 25px;
}
header ul li:nth-child(2) i {
    right: 25px;
    cursor: pointer; /* Hiện bàn tay khi đưa con trỏ tới*/
}

header ul li:nth-child(8) i {
    cursor: pointer;
}

header ul li:nth-child(3) i {
    cursor: pointer;
}

#myInput {
    width: 170px; /* Độ dài trường nhập */
    height: 25px;
    white-space: nowrap; /* Ngăn chuyển dòng */
    overflow-x: auto; /* Kích hoạt cuộn ngang khi cần thiết */
    min-width: 50px; /* Đặt một chiều rộng tối thiểu cho trường nhập */
    border: 2px outset;
}

cuong{    /*hình ảnh giới thiệu */
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px 15px 15px 15px;
    display: inline-block;
}

cuong ul{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    font-size: 18px;
} 

 .options {   /*Tài Khoản*/
    display: none; /* Ẩn tùy chọn "Đăng nhập" và "Đăng ký" ban đầu  */
}

#account:hover #options {
    display: block; /* Hiển thị tùy chọn "Đăng nhập" và "Đăng ký" khi di chuột vào "Tài khoản" */ 
}

.account{  /*Tài Khoản*/
    position: absolute; 
    inset: 0px auto auto 0px; 
    margin: 0px; 
    transform: translate3d(1365px, 60px, 0px);
    padding: 10px 0;
    /* position: relative;
    margin-top: 14px;
    width: 110px; */

}

.account{  /*Tài Khoản*/
    background-color: #FFFFFF;
    color:rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms
        cubic-bezier(0.4,0,0.2,1) 0ms;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, 
                    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, 
                    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;  
}
.jss3{   /*Tài Khoản*/
    top: -6px;
    right: 22px;
    position: absolute;
}

.leading{  /*Đăng nhập, đăng kí*/
    padding: 0 15px;
    line-height: 1.2;
    align-items: center;
    width: 120px;
    height: 38px;
    display: flex; 
}

.leading:hover {
    background-color: #faf6f6;
}

.car-list-show {  /*Mua xe*/
    display: none;
}

.my-menu-button:hover .car-list-show {  /*Mua xe*/
    transform: translate(-40px, 10px);
    padding: 10px;
    line-height: 1.8;
    align-items: center;
    display: flex; 
    position: absolute;
    background-color: #FFFFFF;
    border: outset 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

button{  
    cursor :pointer;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    border: #FFFFFF;
}

.px-4{ /* Hãng xe phổ biến, giá xe*/
    padding-right: 1rem;
    padding-left: 20px;
}

.row-span-3{ /* 3 cột*/
    grid-row: span 3/span 3;
}

.px-8{ /*Dòng xe phổ biến*/
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-base{  /*Dòng tiêu đề h2*/
    font-size: 16px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.column1{ /*Các cột phụ*/
    padding: 0 10px;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    min-width: 100px;
    width: 100%;
    height: 38px;
    display: flex;
}

.column1:hover{
    background-color: #faf6f6;
}

.mb-2{
    margin-bottom: 0.5rem;
}

.text-sm{
    font-weight: 500;
    font-size: 13px;
    margin-top: 1rem;
}

.inline{
    align-items: center;
    display: inline-flex;
}

.inline{
    float: left;
}

.inline-flex{
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
    align-items: center;
    display: inline-flex;
    padding-right: 5px;
}

.icon-chevron-right{
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.\!mx-0{
    margin-left: 0!important;
    margin-right: 0!important;
}

.text-bx{
    --tw-text-opacity: 1;
    color: rgb(26 111 183/var(--tw-text-opacity));
    padding-left: 10px ;
}

/* phần thông tin kết thúc footer */
.endtable{
    transition: box-shadow;
    color: #F8F8FF;
    bottom:0px;
    background-color: #09253D;
    width: 100%;
    height: 400px;
    padding: 30px 30px 10px 30px;
}

.endtable_1{
    border-bottom: 1px solid #E7E9EB;
    height:75%;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
    display:flex; 
    background-color:#09253D;
}

.text1{
    margin-left:20px;
    color:white;
    width:25%;
}

.text1 ul{
    width: 80%;
    height: 50px;;
    
}

.text2{
    width:80%;
}

.endtable_2{
    color: #F8F8FF;
    font:12px Roboto ;
    padding-top:15px;
    height:25%;
    display:block;
    text-align:center;
}

.end_img{
    width:15px;
    height:15px;
    margin: 0 10px 0 10px;
}

.text1 ul{
    margin-top:25px;
    display:flex;
    justify-content: space-between;
}

.t{
    margin-top: 15px;
}

/*Ban xe*/
.tc-banxe{
    flex-direction: row;
    gap: 10rem;
    background-image:url('/image/banxe.jpg');
    min-height: 650px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 100%;
    display: flex;
}

.tc-thongtin{
    font-size: 12px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

.tc-tao-bang{
    --tw-shadow: 0 2px 10px hsla(218,4%,43%,.25);
    --tw-shadow-colored: 0 2px 10px var(var(--tw-shadow-color));
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    width: 570px;
    min-height: 516px;
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.75rem;
}

.tc-banxe-dinhgia{
    display: block;
    margin-left: -2rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    padding-top: 83px;
    padding-left: 0.75rem;
}

.tc-banxe-dinhgia-1{
    line-height: 2.5rem;
    font-weight: 600;
    font-size: 36px;
}

.tc-banxe-dinhgia-2{
    font-weight: 400;
    font-size: 20px;
    width: 455px;
    margin-top: 11px;
}

.tc-banxe-h2{
    font-size: 24px;
    width: 459px;
    display: block;
    letter-spacing: .01rem;
    line-height: 2rem;
    font-weight: 600px;
    margin: 0;
}

.tc-banxe-bang{
    grid-template-columns: repeat(2,minmax(0,1fr));
    display: grid;
    gap: 1rem;
    margin-top: 18px;
}

.inline-block{
    display: inline-block;
}

.tc-banxe-box{
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    height: 3rem;
    display: block;
}

.mui-style-7pg0cj-a11yText{
    z-index: 9999;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}
.mui-style-185bq2n-control{
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 48px;
}

.mui-style-hlgwow {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    padding: 2px 8px;
    box-sizing: border-box;
}

.mui-style-1jqq78o-placeholder {
    grid-area: 1/1/2/3;
    color: hsl(0, 0%, 50%);
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
}

.tc-banxe-bang-hangxe{
    opacity: .5;
    --tw-text-opacity: 1;
    color: rgb(63 64 71/var(--tw-text-opacity));
}

.mui-style-19bb58m {
    visibility: visible;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: hsl(0, 0%, 20%);
    box-sizing: border-box;
}

.mui-style-1wy0on6 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

.mui-style-1xc3v61-indicatorContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    color: hsl(0, 0%, 80%);
    padding: 8px;
    box-sizing: border-box;
}

.mui-style-8mmkcg {
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
}

.mui-style-d65714-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 90%);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    height: 48px;
}

.mui-style-1mkvw8y {
    visibility: hidden;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: hsl(0, 0%, 20%);
    box-sizing: border-box;
}

.mui-style-894a34-indicatorSeparator {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: 1px;
    background-color: hsl(0, 0%, 90%);
    margin-bottom: 8px;
    margin-top: 8px;
    box-sizing: border-box;
}

.tc-banxe-bang-nhap{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    display: flex;
}

.tc-banxe-bang-nhap-1{
    width: 100%;
    position: relative;
}

.tc-banxe-bang-nhap-2{
    text-overflow: ellipsis;
    -webkit-text-size-adjust: 100%!important;
    font-size: 16px!important;
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity));
    padding: 0.625rem;
    background-color: rgb(249 250 251/var(--tw-text-opacity));
    border-color: rgb(209 213 219/var(--tw-text-opacity));
    border-width: 1px;
    border-radius: 0.5rem;
    width: 100%;
    display: block;
    font-weight: inherit;
    font-family: inherit;
    appearance: none;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,  /* ẩn nút tăng giảm số trong number */
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-4 u{
    color:rgb(83, 162, 231);
}

.tc-banxe-bang-dinhgia{
    cursor: default;
    opacity: .5;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-weight: 500;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(26 111 183/var(--tw-bg-opacity));
    border-color: transparent;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
    display: flex;
}

.tc-banxe-bang-dinhgia-1{
    font-size: 16px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.375rem;
    align-items: center;
    display: flex;
}

.tc-banxe-buoc{
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(237 239 245/var(--tw-bg-opacity));
    height: auto;
}

.tc-banxe-buoc1{
    margin: auto;
    max-width: 1110px;
    width: 100%;
}

.tc-banxe-buoc1-tieude{
    margin-bottom: 50px;
    padding-top: 90px;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif ;
}

.tc-banxe-buoc-cach{
    padding-bottom: 1rem;
    overflow: auto;
    display: flex;
}

.tc-banxe-buoc-cach-1{
    gap:0.625rem;
    user-select: none;
    min-width: 1110px;
    display: flex;
}

.tc-banxe-buoc-cach-2{
    gap: 1.5rem;
    font-size: 15px;
    grid-template-columns: repeat(4,minmax(0,1fr));
    display: grid;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.tc-banxe-bang-nhap-3{
    max-height: 220px;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    --tw-text-opacity: 1;
    color: rgb(63 64 71/var(--tw-text-opacity));
    line-height: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 0.5rem;
    max-width: 255px;
    width: 100%;
    position: relative;
    padding-bottom: 1.25rem;
}

.tc-banxe-buoc-cach-4{
    right: 0;
    top: 0;
    position: absolute;
}

.tc-banxe-buoc-cach-4-hinh{
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: 18px;
    right: 25%;
    top: 0.25rem;
    position: absolute;
}

.tc-banxe-buoc-cach-4-hinh-1{
    width: 4rem;
    height: 4rem;
    margin-top: 41px;
    margin-bottom: 45px;
    max-width: 100%;
    display: block;
}

.tc-banxe-buoc-cach-4-font{
    font-weight: 600;
    margin: 0;
    font-size: inherit;
}

.tc-banxe-buoc-cach-3{
    padding-top: 50px;
    padding-bottom: 120px;
    justify-content: center;
    display: flex;
}

.tc-banxe-buoc-cach-3-button{
    width: 232px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: 15px;
    padding: 0.875rem 1rem 0.875rem 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(26 111 183/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    height: 48px;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.tc-banxe-lido{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    margin-bottom: 30px;
}

.tc-banxe-lido-1{
    padding: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
.tc-banxe-lido-khung{
    grid-template-columns: repeat(2,minmax(0,1fr));
    justify-items: end;
    text-align: center;
    display: grid;
}

.tc-banxe-lido-anh{
    padding-bottom: 50%;
    border-radius: 0.375rem;
}

.tc-banxe-lido-lietke{
    margin-top: 0;
    padding-left: 2.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}

.tc-banxe-lido-lietke-1{
    margin-bottom: 1.5rem;
    display: flex;
}

.tc-banxe-lido-lietke-2{
    line-height: 1.5rem;
    margin-left: 1rem;
}

.tc-banxe-lido-lietke-3{
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 16px;
}

.tc-banxe-cauhoi{
    --tw-bg-opacity: 1;
    background-color: rgb(238 241 244/var(--tw-bg-opacity));
}

.tc-banxe-cauhoi-bang{
    padding-bottom: 120px;
    padding-top: 89px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    width: 100%;
}

.mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
}

.tc-banxe-cauhoi-khung{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity));
    border-bottom-width: 0;
    border-width: 1px;
    overflow: hidden;
    border-radius: 0.75rem;
}

.tc-banxe-cauhoi-button-hoi{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity));
    font-weight: 500;
    text-align: left;
    padding: 1.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
    background-color: transparent!important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #e7e5e5;
}

.tc-banxe-cauhoi-button-h2{
    font-size: 16px;
    --tw-text-opacity: 1;
    color: rgb(63 64 71/var(--tw-text-opacity));
    font-weight: 600;
}

.tc-banxe-cauhoi-button-dap{
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-divide-opacity));
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    padding: 1.25rem;
    border-bottom: 1px solid #e7e5e5;
}

.tc-banxe-cauhoi-button-dap-1{
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.fa-color{
    color: #0000;
}

.tc-banxe-hinhnen{
    box-shadow: inset 0 0 0 2000px rgba(0,0,0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./image/bottom_banner.jpg);
    align-items: center;
    height: 500px;
    display: flex;
    margin: auto;
}

.tc-banxe-hinhnen-1{
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    max-width: 1110px;
    width: 100%;
}

.tc-banxe-hinhnen-tieude{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.tc-banxe-hinhnen-button{
    text-align: center;
    margin-top: 3.5rem;
}

.tc-banxe-hinhnen-button-1{
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-weight: 500;
    font-size: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(26 111 183/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    cursor: pointer;
}