*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} 

ul{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: inherit;
}

li{
  list-style: none;
}

/* header */
.container{
  max-width: 1450px;
}

.logo{
  width: 10%;
  height: 4%;
  display: flex;
  justify-content: left;
  }

.khung{
  height: 32px;
}

header{
  background-color: #FFFFFF;
  text-align: center;
  padding: 0 30px 10px 25px;
  border-bottom:outset 2px rgba(0, 0, 0, 0.1);
}

header ul{
  display: flex;
  justify-content:space-between;
  align-items:flex-end;
  font-size: 16px;
  list-style: none;
} 

header ul li :nth-child(2) {
  position: relative;
}
header ul li:nth-child(2) input {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 25px;
}
header ul li:nth-child(2) i {
  right: 25px;
  cursor: pointer; /* Hiện bàn tay khi đưa con trỏ tới*/
}

header ul li:nth-child(8) i {
  cursor: pointer;
}

header ul li:nth-child(3) i {
  cursor: pointer;
}

#myInput {
  width: 170px; /* Độ dài trường nhập */
  height: 25px;
  white-space: nowrap; /* Ngăn chuyển dòng */
  overflow-x: auto; /* Kích hoạt cuộn ngang khi cần thiết */
  min-width: 50px; /* Đặt một chiều rộng tối thiểu cho trường nhập */
  border: 2px outset;
}

cuong{    /*hình ảnh giới thiệu */
  background-color: #FFFFFF;
  text-align: center;
  padding: 15px 15px 15px 15px;
  display: inline-block;
}

cuong ul{
  display: flex;
  justify-content:space-between;
  align-items:flex-end;
  font-size: 18px;
} 

.options {   /*Tài Khoản*/
  display: none; /* Ẩn tùy chọn "Đăng nhập" và "Đăng ký" ban đầu  */
}

#account:hover #options {
  display: block; /* Hiển thị tùy chọn "Đăng nhập" và "Đăng ký" khi di chuột vào "Tài khoản" */ 
}

.account{  /*Tài Khoản*/
  position: absolute; 
  inset: 0px auto auto 0px; 
  margin: 0px; 
  transform: translate3d(1365px, 60px, 0px);
  padding: 10px 0;
  /* position: relative;
  margin-top: 14px;
  width: 110px; */

}

.account{  /*Tài Khoản*/
  background-color: #FFFFFF;
  color:rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms
      cubic-bezier(0.4,0,0.2,1) 0ms;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, 
                  rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, 
                  rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;  
}
.jss3{   /*Tài Khoản*/
  top: -6px;
  right: 22px;
  position: absolute;
}

.leading{  /*Đăng nhập, đăng kí*/
  padding: 0 15px;
  line-height: 1.2;
  align-items: center;
  width: 120px;
  height: 38px;
  display: flex; 
}

.leading:hover {
  background-color: #faf6f6;
}

.car-list-show {  /*Mua xe*/
  display: none;
}

.my-menu-button:hover .car-list-show {  /*Mua xe*/
  transform: translate(-40px, 10px);
  padding: 10px;
  line-height: 1.8;
  align-items: center;
  display: flex; 
  position: absolute;
  background-color: #FFFFFF;
  border: outset 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

button{  
  cursor :pointer;
  background-color: transparent;
  background-image: none;
  text-transform: none;
  border: #FFFFFF;
}

.px-4{ /* Hãng xe phổ biến, giá xe*/
  padding-right: 1rem;
  padding-left: 20px;
}

.row-span-3{ /* 3 cột*/
  grid-row: span 3/span 3;
}

.px-8{ /*Dòng xe phổ biến*/
  padding-left: 2rem;
  padding-right: 2rem;
}

.text-base{  /*Dòng tiêu đề h2*/
  font-size: 16px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family:Arial, Helvetica, sans-serif;
}

.column1{ /*Các cột phụ*/
  padding: 0 10px;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  min-width: 100px;
  width: 100%;
  height: 38px;
  display: flex;
}

.column1:hover{
  background-color: #faf6f6;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.text-sm{
  font-weight: 500;
  font-size: 13px;
  margin-top: 1rem;
}

.inline{
  align-items: center;
  display: inline-flex;
}

.inline{
  float: left;
}

.inline-flex{
  --tw-text-opacity: 1;
  color: rgb(55 65 81/var(--tw-text-opacity));
  align-items: center;
  display: inline-flex;
  padding-right: 5px;
}

.icon-chevron-right{
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.\!mx-0{
  margin-left: 0!important;
  margin-right: 0!important;
}

.text-bx{
  --tw-text-opacity: 1;
  color: rgb(26 111 183/var(--tw-text-opacity));
  padding-left: 7px ;
}

/* Đăng nhập */
/* .hide {
  display: none;
}

.hide button {
  width: 100%;
  padding: 0.8rem 0;
  cursor: pointer;
}

.hide button:hover {
  background-color: #00000021;
}

.myDIV {
    height: 10rem;
    cursor: pointer;
}

.myDIV:hover + .hide {
  display: block;
}

#account-dropdown {
  background-color: white;
  width: 7rem;
  left: -1rem;
  bottom: -5rem;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #0000005c;
  overflow: hidden;
  z-index: 200;
} */

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #9f9f9f;
}

#wrapper .login-wrapper {
  padding: 2rem;
  background-color: #999999e0;
  border-radius: 1rem;
}

#form-login {
  width: 800px;
  background: rgba(0, 0, 0, 0.8);
  flex-grow: 1;
  padding: 30px 30px 40px;
  box-shadow: 0px 0px 17px 2px rgb(255, 255, 255, 0.8);
}
.form-heading {
  font-size: 25px;
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
}
.form-group {
  border-bottom: 1px solid #fff;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}
.form-group i {
  color: #fff;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
}
#form-login {
  max-width: 400px;
  background: rgba(0, 0, 0, 100);
  flex-grow: 1;
  padding: 30px 30px 40px;
  box-shadow: 0px 0px 17px 2px rgba(13, 13, 13, 0.8);
}
.form-heading {
  font-size: 50px;
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
}
.form-group {
  border-bottom: 1px solid #fff;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}
.form-group i {
  color: #fff;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
}
.form-input {
  background: transparent;
  border: 0;
  outline: 0;
  color: #f5f5f5;
  flex-grow: 1;
}
.form-input::placeholder {
  color: #f5f5f5;
}
#eye i {
  padding-right: 0;
  cursor: pointer; /* trỏ hình bàn tay*/
}
.form-submit {
  background: transparent;
  border: 1px solid #f5f5f5;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  padding: 6px 10px;
  transition: 0.25s ease-in-out;
  margin-top: 30px;
}
.form-submit:hover {
  border: 1px solid #54a0ff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logo {
  width: 10%;
  height: 4%;
  display: flex;
  justify-content: left;
}
li {
  list-style: none;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.khung {
  height: 32px;
}
.options {   /*Tài Khoản*/
  display: none; /* Ẩn tùy chọn "Đăng nhập" và "Đăng ký" ban đầu  */
}
#account:hover #options {
  display: block; /* Hiển thị tùy chọn "Đăng nhập" và "Đăng ký" khi di chuột vào "Tài khoản" */ 
}
.account{  /*Tài Khoản*/
  position: absolute; 
  inset: 0px auto auto 0px; 
  margin: 0px; 
  transform: translate3d(1365px, 60px, 0px);
  padding: 10px 0;
  /* position: relative;
  margin-top: 14px;
  width: 110px; */

}
.account{  /*Tài Khoản*/
  background-color: #FFFFFF;
  color:rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms
      cubic-bezier(0.4,0,0.2,1) 0ms;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, 
                  rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, 
                  rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;  
}
.jss3{   /*Tài Khoản*/
  top: -6px;
  right: 22px;
  position: absolute;
}
.leading{  /*Đăng nhập, đăng kí*/
  padding: 0 15px;
  line-height: 1.2;
  align-items: center;
  width: 120px;
  height: 38px;
  display: flex; 
}
.container {
  min-width: 1440px;
}
nav {
  background-color: #ffffff;
  text-align: center;
  padding: 0 6% 10px 3px;
  border-bottom: outset 2px rgba(0, 0, 0, 0.1);
  top: 0px;
  position: fixed;
}
.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
nav ul li :nth-child(2) {
  position: relative;
}

a {
  text-decoration: none;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jss3 {
  top: -6px;
  right: 22px;
  position: absolute;
}
.options {
  display: none;
}
.leading {
  padding: 0 15px;
  line-height: 1.2;
  font-size: 13px;
  align-items: center;
  width: 120px;
  height: 38px;
  display: flex;
}
.leading:hover {
  background-color: #faf6f6;
}
.car-list-show {  /*Mua xe*/
  display: none;
}
.my-menu-button:hover .car-list-show {/*Mua xe*/
  transform: translate(-40px, 10px);
  padding: 10px;
  line-height: 1.8;
  align-items: center;
  display: flex;
  position: absolute;
  background-color: #ffffff;
  border: outset 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
button {
  background-color: transparent;
  background-image: none;
  text-transform: none;
  border: #fcfbfb;
}
button {
  cursor: pointer;
}
.l {
  
  margin-top: 15px;
  font-size: 15px;
  list-style-type: none;
  font-weight: 100;
}
.font-size-18 {
  font-weight: 550;
}
.a {
  margin-left: 7%;
}
#a1{
  margin-top: 3rem;
  margin-left: 8rem;
  padding-bottom: 2rem;
  color: #7c7777;
  cursor: pointer;
  max-width: 209px;
  display: inline-block;


}
#a2 {
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 5rem;
  color: #7c7777;
  cursor: pointer;
  display: inline-block;
}
#a3 {
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 7rem;
  color: #7c7777;
  cursor: pointer;
  display: inline-block;
}

#a4 {
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 8rem;
  color: #7c7777;
  cursor: pointer;
  display: inline-block;
}
#a5 {
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 8rem;
  color: #7c7777;
  cursor: pointer;
  display: inline-block; 
}
#a6 {
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 136px;
  color: #7c7777;
  cursor: pointer;

  display: inline-block;
}
#a7 {
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 6rem;
  color: #7c7777;
  cursor: pointer;
  display: inline-block;
}
#a8 {
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 97px;
  color: #7c7777;
  cursor: pointer;
  display: inline-block;
}


.box {
  width: 100px;
  height: 100px;
  color: #f5f5f5;
}

.endtable {
    transition: box-shadow;
    color: #F8F8FF;
    bottom: 0px;
    background-color: #09253D;
    width: 100%;
    height: 400px;
    padding: 30px 30px 10px 30px;
}
.endtable_1 {
    border-bottom: 1px solid #E7E9EB;
    height: 75%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    background-color: #09253D;
}
.text1 {
    margin-left: 20px;
    color: rgb(236, 238, 243);
    width: 25%;
}
.text1 ul {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.text1 ul {
    width: 80%;
    height: 50px;
}
ul {
    list-style: none;
}
#qmk 
{
    margin-top: 1rem;
    font-size: smaller;
    color: white;
}
#qmk:hover /*di chuyển chuột hiển thị màu khi đưa con trỏ vào*/
{
    color: rgb(66, 40, 39);
}
#dky 
{
    margin-left: 2rem;
    font-size: small;

}
#y {
    color: white;
}
#y:hover
{
    color:rgb(66, 40, 39);
}

.text1 {
  margin-left: 20px;
  color: rgb(236, 238, 243);
  width: 25%;
}

.text1 ul {
  width: 80%;
  height: 50px;
}
.padding-left {
  padding-left: 50px;
}

.text2 {
  width: 80%;
}

.endtable_2 {
  color: rgb(236, 238, 243);
  font: 12px Roboto;
  padding-top: 15px;
  height: 25%;
  display: block;
  /* background-color:; */
  text-align: center;
}
.end_img {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 10px;
}

.text1 ul {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.t {
  margin-top: 15px;
  font-size: 15px;
  list-style-type: none;
  font-weight: 100;
}
.font-size-20 {
  font-size: 20px;
}
.jss3 {
  top: -6px;
  right: 22px;
  position: absolute;
}

.leading {
  padding: 0 15px;
  line-height: 1.2;
  align-items: center;
  width: 120px;
  height: 38px;
  display: flex;
}

.ndung {
  color: yellow;
  text-align: center;
}

.leading:hover {
  background-color: #faf6f6;
}

.car-list-show {
  display: none;
}

.my-menu-button:hover .car-list-show {
  transform: translate(-40px, 10px);
  padding: 10px;
  line-height: 1.8;
  align-items: center;
  display: flex;
  position: absolute;
  background-color: #ffffff;
  border: outset 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  text-transform: none;
  border: #ffffff;
}

.px-4 {
  padding-right: 1rem;
  padding-left: 20px;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.text-base {
  font-size: 16px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

.column1 {
  padding: 0 10px;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  min-width: 100px;
  width: 100%;
  height: 38px;
  display: flex;
}

.column1:hover {
  background-color: #faf6f6;
}
h3 {
  color: rgba(1, 26, 50, 0.753);
}
