*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
} 

ul{
    list-style: none;
    overflow: hidden;
    font-size: 18px;
}

a{
    color: inherit;
    text-decoration: inherit;
}

li{
    list-style: none;
}
/* header */
.container{
    max-width: 1450px;
}

header{
    background-color: #FFFFFF;
    text-align: center;
    padding: 0 30px 10px 25px;
    border-bottom:outset 2px rgba(0, 0, 0, 0.1);
}

header ul{
    display: flex;
    justify-content:space-between;
    font-size: 16px;
    list-style: none;
    align-items: center;
} 

.logo{
    width: 10%;
    height: 4%;
    display: flex;
    justify-content: left;
}

.khung{
    height: 20px;
    display: flex;
    position: relative;
}

.hinh{
    width: 5rem;
    height: 5rem;
}

header .khung span {
    position: absolute;
    display: none;
    top: 200%;
    z-index: 10;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #EEEE;
    padding: 5px;
    width: 100px;
}

header .fullname-user {
    max-width: 20%;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 0.8rem;
}

/* body */
.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}
.list-brands {
    top: 70px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    border: solid;
    border-radius: 5px;
}
.list-brands {
    position: relative;
    top: 50px;
    width: 100%;
}
.grid {
    width: 100%;
    display: block;
    padding: 0;
}
.list-brands p {
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.brands > li:not(:last-child) {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.top-list {
    background-color: rgb(167, 236, 167);
    color: black;
}
li {
    list-style: none;
    overflow: hidden;
    height: 40px;
    line-height: 30px;
}
.list-brands .top-list ul, .list-brands .brand ul {
    display: flex;
    width: 100%;
    border: none;
}
.top-list ul li:nth-child(1) {
    line-height: 30px;
    width: 10%;
}
.top-list ul > li:not(:last-child) {
    border-right: 1px solid black;
}
.top-list ul li:not(:first-child) {
    line-height: 30px;
    width: 30%;
}
.brands > li:last-child {
    border: solid 1px black;
}
.brand:last-child {
    background-color: rgb(235, 235, 144);
    color: #ce0b0b;
}
.brand:last-child ul li:first-child {
    width: 40%;
}
.brand ul li:nth-child(1) {
    width: 10%;
}
.brand ul > li:not(:last-child) {
    border-right: 1px solid black;
}
.brand:last-child ul li:not(:first-child) {
    width: 30%;
}
.brand ul li:not(:first-child) {
    width: 30%;
}