*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: inherit;
}

li{
    list-style: none;
}

/* header */
.container{
    max-width: 1450px;
}

.logo{
    width: 10%;
    height: 4%;
    display: flex;
    justify-content: left;
    }

.khung{
    height: 32px;
}

header{
    background-color: #FFFFFF;
    text-align: center;
    padding: 0 30px 10px 25px;
    border-bottom:outset 2px rgba(0, 0, 0, 0.1);
}

header ul{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    font-size: 16px;
    list-style: none;
} 

header ul li :nth-child(2) {
    position: relative;
}
header ul li:nth-child(2) input {
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 25px;
}
header ul li:nth-child(2) i {
    right: 25px;
    cursor: pointer; /* Hiện bàn tay khi đưa con trỏ tới*/
}

header ul li:nth-child(8) i {
    cursor: pointer;
}

header ul li:nth-child(3) i {
    cursor: pointer;
}

#myInput {
    width: 170px; /* Độ dài trường nhập */
    height: 25px;
    white-space: nowrap; /* Ngăn chuyển dòng */
    overflow-x: auto; /* Kích hoạt cuộn ngang khi cần thiết */
    min-width: 50px; /* Đặt một chiều rộng tối thiểu cho trường nhập */
    border: 2px outset;
}

cuong{    /*hình ảnh giới thiệu */
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px 15px 15px 15px;
    display: inline-block;
}

cuong ul{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    font-size: 18px;
} 

 .options {   /*Tài Khoản*/
    display: none; /* Ẩn tùy chọn "Đăng nhập" và "Đăng ký" ban đầu  */
}

#account:hover #options {
    display: block; /* Hiển thị tùy chọn "Đăng nhập" và "Đăng ký" khi di chuột vào "Tài khoản" */ 
}

.account{  /*Tài Khoản*/
    position: absolute; 
    inset: 0px auto auto 0px; 
    margin: 0px; 
    transform: translate3d(1365px, 60px, 0px);
    padding: 10px 0;
    /* position: relative;
    margin-top: 14px;
    width: 110px; */

}

.account{  /*Tài Khoản*/
    background-color: #FFFFFF;
    color:rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms
        cubic-bezier(0.4,0,0.2,1) 0ms;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, 
                    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, 
                    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;  
                    z-index: 100;
}
.jss3{   /*Tài Khoản*/
    top: -6px;
    right: 22px;
    position: absolute;
}

.leading{  /*Đăng nhập, đăng kí*/
    padding: 0 15px;
    line-height: 1.2;
    align-items: center;
    width: 120px;
    height: 38px;
    display: flex; 
}

.leading:hover {
    background-color: #faf6f6;
}

.car-list-show {  /*Mua xe*/
    display: none;
}

.my-menu-button:hover .car-list-show {  /*Mua xe*/
    transform: translate(-40px, 10px);
    padding: 10px;
    line-height: 1.8;
    align-items: center;
    display: flex; 
    position: absolute;
    background-color: #FFFFFF;
    border: outset 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
}

button{  
    cursor :pointer;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    border: #FFFFFF;
}

.px-4{ /* Hãng xe phổ biến, giá xe*/
    padding-right: 1rem;
    padding-left: 20px;
}

.row-span-3{ /* 3 cột*/
    grid-row: span 3/span 3;
}

.px-8{ /*Dòng xe phổ biến*/
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-base{  /*Dòng tiêu đề h2*/
    font-size: 16px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.column1{ /*Các cột phụ*/
    padding: 0 10px;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    min-width: 100px;
    width: 100%;
    height: 38px;
    display: flex;
}

.column1:hover{
    background-color: #faf6f6;
}

.mb-2{
    margin-bottom: 0.5rem;
}

.text-sm{
    font-weight: 500;
    font-size: 13px;
    margin-top: 1rem;
}

.inline{
    align-items: center;
    display: inline-flex;
}

.inline{
    float: left;
}

.inline-flex{
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity));
    align-items: center;
    display: inline-flex;
    padding-right: 5px;
}

.icon-chevron-right{
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.\!mx-0{
    margin-left: 0!important;
    margin-right: 0!important;
}

.text-bx{
    --tw-text-opacity: 1;
    color: rgb(26 111 183/var(--tw-text-opacity));
    padding-left: 7px ;
}
.left-column {
    width: 60%;
    height: 500px;
    background: white;
    float: left;
  }
  .right-column {
    width: 40%;
    height: 500px;
    /* background: #959595; */
    float: right;
  }
  .hinh1{
    max-height: 800px;
    max-width: 1000px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .tin{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px ;
    width: 70px;
    text-align: center;
    background-color: rgb(238, 171, 45);
    color: white;
    border-color: white;

  }
  .text{
    margin-top: 20px;
    font-size: 18px;
    color: rgba(1, 26, 50, 0.753);
  }
  .gia{
    margin-top: 20px;
    color: red;
    font-size: 20px;
  }
  .font-medium {
    font-weight: 500;
}
.items-center {
    align-items: center;
}

.flex {
    display: flex;
}
.padding{
    padding: 12.5px;
}
.flex-shrink-0, .shrink-0 {
    flex-shrink: 0;
}
.w-6 {
    width: 1.5rem;
}
.h-6 {
    height: 1.5rem;
}
.object-cover {
    object-fit: cover;
    object-fit: cover;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
img, video {
    max-width: 100%;
    height: auto;
}
.flex-grow, .grow {
    flex-grow: 1;
}
.text-right{
    text-align: right;
}
.left{
    margin-left: 20px;
}
.font-semibold {
    font-weight: 600;
}
.float-right {
    float: right;
}
.top{
    margin-top: 30px;
}
.top1{
    margin-top: 15px;
}
.top2{
    margin-top: 50px;
    margin-bottom: 50px;
}
.bot{
    margin-bottom: 10px;
}
.top-10{
    margin-top: 10px;
}
.col-start-1{
    grid-column-start: 1;
}
hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1.25px;
  }
.md:col-start-7{
    grid-column-start: 7;
}
.md\:top-4{
    top: 1rem;
}
/* .md\:sticky{
    position:relative;
} */
.col-end-11{
    grid-column-end: 11;
}
.rounded-lg{
    border-radius: 15px;
}
.md\:p-6{
    padding: 1.5rem;
}
.md\:border{
    border-width: 1px;
}

.md\:border-solid{
    border-style: solid;
}
.md\:border-\[\#E0E0E0\]{
    --tw-border-opacity:1;
    border-color: rgba(190, 160, 160, 0.499);
}
.text-xs{
    font-size: 1.1rem;
}
.md\:text-\[\14px\]{
    font-size: 14px;
}
.relative{
    position: relative;
}
.md\:static{
    position: static;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.md\:gap-6{
    gap: 1.5rem;
}
.gap-4{
    gap: 1rem;
}
.block{
    display: block;
}
.mb-2{
    margin-bottom: 0.5rem;
}

.md\:p-0 {
    padding: 0; 
}

.md\:border-0 {
    border-width: 0;
}

.md\:static {
    position: static;
}
.vuong {
    grid-template-columns: 1fr 1fr;
}
.cuong-border-1 {
    
    --tw-border-opacity: 1;
    border-color: rgb(224 224 224/var(--tw-border-opacity));
}
.p-4 {
    padding: 1rem;
}
.bg-white {
    /* --tw-bg-opacity: 1; */
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.gap-3 {
    gap: 0.75rem;
}
.grid-cols-5 {
    grid-template-columns: repeat(5,minmax(0,1fr));
}
.grid {
    display: grid;
}
.mt-12 {
    margin-top: 3rem;
}
.z-\[150\] {
    z-index: 150;
}
.bottom-0 {
    bottom: 0;
}
.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}
.fixed {
    --position: fixed;
}
.md\:text-\[\15px\]{
    font-size: 15px;
}
.cuong-button-contained-primary-left{
    border-radius: 1rem;
    border-style: solid;
    background-color: rgb(36, 119, 187);
    font-weight: 3px;
    border-color: rgb(36, 119,187);
    border-width: 1.5px;
    --tw-shadow: 0px 4px 4px 0px #ccc;
    --tw-shadow-colored: 0px 4px 4px 0px var(--tw-shadow-color);
    color: white;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.cuong-button-contained-primary-right{
    border-radius: 1rem;
    background-color:white;
    font-weight: 3px;
    border-color: rgba(0, 0, 0, 0.067);
    border-style: solid;
    color: black;
    --tw-shadow: 0px 4px 4px 0px #ccc;
    --tw-shadow-colored: 0px 4px 4px 0px var(--tw-shadow-color);
    border-width: 1.5px;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.shadow{
    border-radius: 1rem;
    --tw-shadow: 0px 4px 4px 0px #ccc;
    --tw-shadow-colored: 0px 4px 4px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.cuong-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-4{
    padding-left: 1rem;
    padding-right: 1rem;
}
.gap-2{
    gap: 0.5rem;
}
[role-button],button{
    cursor: pointer;
}
button{
    --webkit-appearance: button;
    background-image: none;
}
button, select{
    text-transform: none;
}
button,input,optgroup, select,textarea{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.image {
    max-width: 35px;
    height: auto;
    --fill: none;
}
.col-end-7{
    grid-column-end: 7;
}
.col-start{
    grid-column-start: 7;
}
.luot{
    position: sticky;
}
.mdtop-4{
    top: 1rem;
}
.mt-4{
    margin-top: 1rem;
}
ol{
    list-style-type: none;
}
.float-left{
    float: left;
}
.inline-flex{
    display: inline-flex;
}
.font-size{
    font-size: 13px;
    font-weight: 700;
    color: rgb(20, 7, 143);
}
.magrin-left{
    margin-left: 10px;
}
.mt-6{
    margin-top: 1.5rem;
}
.mdmt-0{
    margin-top: 0;
}
.mdpx-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.pb64px{
    padding-bottom: 64px ;
}
.max-w-\[\1440px\]{
    max-width: 1440px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mdflex{
    display: flex;
}
.text-\[\#31406F\]{
    --tw-text-opacity: 1;
    color: rgb(49 64 111/var(--tw-text-opacity));
    margin: 1.5rem 0.9rem 0 0.9rem;
}
.gird{
    display: grid;
}
.grid-cols-10{
    grid-template-columns: repeat(10, minmax(1, 1fr))  ;
}
.gap-4{
    gap:1rem;
}
.gap-5{
    column-gap: 8rem;
}
.mdgap-8{
    gap:2rem;
}
.p-6{
    padding: 1.5rem;
}
.max-height-310px{
    max-height: 310px;
}
.transition-all{
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}
.overflow-hiden{
    overflow: hidden;
}
.hidden{
    display: none;
}
.block{
    display: block;
}
.text-left{
    text-align: left;
}
.text-16{
    font-size: 16px;
}
.border-solid{
    border-style: solid;
}
.border-\[\#E0E0E0\]{
    --tw-border-opacity:1;
    border-color: black;
}

.border-b{
    border-bottom-width: 1px;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.text-md{
    font-size: 14px
}
.gird-cols-2{
    grid-template-columns: repeat(2, minmax(0,1fr));
}
.flex-row{
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;
}
.pb-4{
    padding: 1.5rem;
}
.mb-6{
    margin-bottom: 1.5rem;
}
.gap-0{
    gap: 0;
}
.text-16{
    font-size: 15px;
    line-height: 30px;
}

.md\:justify-center {
    justify-content: center;
}

.md\:items-center {
    align-items: center;
}
.md\:flex {
    display: flex;
}
.md\:mt-4 {
    margin-top: 1rem;
}
.carmudi-button-grey, .carmudi-button-outline-primary {
    border-radius: 0.5rem;
    font-weight: 500;
    color: rgb(26 111 183/var(--tw-text-opacity));
}
.carmudi-button-grey {
    --tw-bg-opacity: 1;
    background-color: rgb(237 239 245/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.gap-1 {
    gap: 0.25rem;
}
.w-full {
    width: 100%;
}
.hidden {
    display: none;
}
[role=button], button {
    cursor: pointer;
}
button {
    --webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.margin-bot{
    margin-bottom: 24px;
}
.padding-top-0{
    padding-top: 0;
}
.padding-left-0{
    padding-left: 0;
}
.text-letf{
    text-align: left;
}
.bg-blue-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(9 37 61/var(--tw-bg-opacity));
}
a {
    color: inherit;
    text-decoration: none;
}
   
.endtable{
    transition: box-shadow;
    color: #F8F8FF;
    bottom:0px;
    background-color: #09253D;
    width: 100%;
    height: 400px;
    padding: 30px 30px 10px 30px;
}

.endtable_1{
    border-bottom: 1px solid #E7E9EB;
    height:75%;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    display:flex; 
    background-color:#09253D;
}

.text1{
    margin-left:20px;
    color:rgb(236, 238, 243);
    width:25%;
}

.text1 ul{
    width: 80%;
    height: 50px;;
    
}
.padding-left{
    padding-left: 50px;
}

.text2{
    width:80%;
}

.endtable_2{
    color: rgb(236, 238, 243);
    font:12px Roboto ;
    padding-top:15px;
    height:25%;
    display:block;
    /* background-color:; */
    text-align:center;
}
.end_img{
    width:15px;
    height:15px;
    margin: 0 10px 0 10px;
}

.text1 ul{
    margin-top:25px;
    display:flex;
    justify-content: space-between;
}

.t{
    margin-top: 15px;
    font-size: 15px;
    list-style-type: none;
    font-weight: 100;
}
.font-size-20{
    font-size: 20px;
}
.jss3{
    top: -6px;
    right: 22px;
    position: absolute;
}

.leading{
    padding: 0 15px;
    line-height: 1.2;
    align-items: center;
    width: 120px;
    height: 38px;
    display: flex; 
}

.ndung{
    color: yellow;
    text-align: center;
}


.leading:hover {
    background-color: #faf6f6;
}

.car-list-show {
    display: none;
}

.my-menu-button:hover .car-list-show {
    transform: translate(-40px, 10px);
    padding: 10px;
    line-height: 1.8;
    align-items: center;
    display: flex; 
    position: absolute;
    background-color: #FFFFFF;
    border: outset 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

button{  
    cursor :pointer;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    border: #FFFFFF;
}

.px-4{
    padding-right: 1rem;
    padding-left: 20px;
}

.row-span-3{
    grid-row: span 3/span 3;
}

.px-8{
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-base{
    font-size: 16px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}

.column1{
    padding: 0 10px;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    min-width: 100px;
    width: 100%;
    height: 38px;
    display: flex;
}

.column1:hover{
    background-color: #faf6f6;
}
h3
{
    color: rgba(1, 26, 50, 0.753);

}

/* Để tạo khoảng trống bên trái là 25% chiều rộng của .newList */
/* .newList {
    display: flex;
    justify-content: space-between;
    padding-left: 25%; 
} */

/* Mỗi hình chiếm 25% chiều rộng của .newList */
/* Giới hạn chiều rộng tối đa của .newItem là 400px */
/* Giới hạn chiều cao tối đa của .newItem là 250px */
/* .newItem {
    width: 20%; 
    max-width: 400px; 
    max-height: 250px; 
    background-color: #f1f1f1;
    margin: 0 2px;
    box-sizing: border-box;
    text-align: center;
} */

/* Chiều cao tự động được tính theo tỉ lệ của hình ảnh */
/* Chừa bên trái 25% */
/* Chừa bên phải 10% */
/* .newItem img {
         max-width: 250px;
         max-height: 400px;
        margin-left: 25%; 
        margin-right: 10%; 
} */
#gia
{
    color: red;
    font-weight: bold;
    font-size: large;
}
#chym
{
    margin-left: 3%;
    color: #000099;
    font-size: 20px;
    font-weight: bold;
  
}
.nav
{
    margin-bottom: 20px;
}
.loz button
{
    margin-left: 80%;
    color: red;
   
    
}
 
#y {
    display: flex;

   justify-content: space-evenly;
  }

#y .newItem {
    border-radius: 1rem;
    overflow: hidden;
    width: 324px;
    height:400px;
    box-shadow: 7px 7px 12px #5b749c;   
    position: relative;
}

#y .newItem .content {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
}
#y.newItem img {
    width: 300px;
    max-height: 170px;
    object-fit: cover;
    
}

#y .newItem .btn-action {
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    width: 100%;
}

#y .newItem .btn-action button {
    border: 1px solid blue;
    padding: 0.5rem 0;
    width: 89%;
    margin: 1rem auto;
    border-radius: 6px;
    color: blue;
    transition: 0.3s;
}

#y .newItem .btn-action button:hover {
    background-color: blue;
    color: white;
}
.anh{
    height: 183px;
    width: 324px;
}

.k-3{
    padding-left: 2rem;
}
